.thaw-dialog {
    z-index: 2000;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: left;
}

.thaw-dialog-surface__backdrop {
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
}

.thaw-dialog-surface__backdrop.fade-in-transition-enter-active {
    transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
}

.thaw-dialog-surface__backdrop.fade-in-transition-leave-active {
    transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
}

.thaw-dialog-surface__backdrop.fade-in-transition-enter-from,
.thaw-dialog-surface__backdrop.fade-in-transition-leave-to {
    opacity: 0;
}

.thaw-dialog-surface__backdrop.fade-in-transition-leave-from,
.thaw-dialog-surface__backdrop.fade-in-transition-enter-to {
    opacity: 1;
}

.thaw-dialog-surface {
    inset: 0px;
    padding: 24px;
    margin: auto;
    overflow: hidden;
    border: 1px solid var(--colorTransparentStroke);
    border-radius: var(--borderRadiusXLarge);
    display: flex;
    flex-direction: column;
    gap: 8px;
    user-select: unset;
    visibility: unset;
    position: fixed;
    height: fit-content;
    max-width: 600px;
    max-height: calc(100vh - 48px);
    box-sizing: border-box;
    background-color: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
}

.thaw-dialog-surface.fade-in-scale-up-transition-leave-active {
    transition: opacity 0.25s cubic-bezier(0.4, 0, 1, 1),
        transform 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.thaw-dialog-surface.fade-in-scale-up-transition-enter-active {
    transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1),
        transform 0.25s cubic-bezier(0, 0, 0.2, 1);
}

.thaw-dialog-surface.fade-in-scale-up-transition-enter-from,
.thaw-dialog-surface.fade-in-scale-up-transition-leave-to {
    opacity: 0;
    transform: scale(0.5);
}

.thaw-dialog-surface.fade-in-scale-up-transition-leave-from,
.thaw-dialog-surface.fade-in-scale-up-transition-enter-to {
    opacity: 1;
    transform: scale(1);
}

.thaw-dialog-body {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    box-sizing: border-box;
}

.thaw-dialog-title {
    flex-shrink: 0;
    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase500);
    font-weight: var(--fontWeightSemibold);
    line-height: var(--lineHeightBase500);
    margin: 0px;
}

.thaw-dialog-content {
    flex: 1;
    padding: var(--strokeWidthThick);
    margin: calc(var(--strokeWidthThick) * -1);
    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightRegular);
    line-height: var(--lineHeightBase300);
    overflow-y: auto;
    min-height: 0;
    box-sizing: border-box;
}

.thaw-dialog-actions {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    box-sizing: border-box;
}
